# Bytecode and cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Secret files
.env

# Database files
*.sqlite3
spend_db

# Logs
*.log

# Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# SQL dumps
*.sql
